<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Table workers</title>
  
<!--  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>-->
  <link rel="stylesheet" href="public/bootstrap.min.css">
  <style>
    .table {
      max-width: 600px;
      margin: 0 auto;
    }
  </style>
</head>
<body>

<table class="table table-bordered v-wrapper">
  <tbody>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>age</th>
    <th>salary</th>
    <th>удаление</th>
  </tr>
  <tr v-for="(worker, index) in workers">
    <td>{{ worker.id }}</td>
    <td>{{ worker.name }}</td>
    <td>{{ worker.age }}</td>
    <td>{{ worker.salary }}</td>
    <td><a href="" @click="removeWorker(worker.id, $event)">удалить</a></td>
  </tr>
  </tbody>
</table>


<script src="public/axios.js"></script>
<script src="public/vue.js"></script>
<script>
	new Vue({
		el: '.v-wrapper',
		data: {
			workers: []
		},
    methods: {
	    removeWorker: function (id, event) {
	    	event.preventDefault();
		
		    axios.post('/api/workers', { workerId: id })
			    .then((response) => {
				    this.workers = response.data;
			    });
      }
    },
		created: function () {
			axios.get('/api/workers')
				.then((response) => {
					this.workers = response.data;
				});
		},
	});

</script>
</body>
</html>